@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100ch;
    margin: 0 auto;
    margin-bottom: 10px;
}

header {
    background-color: black;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 15px;
    padding: 10px;
}

h1 {
    font-family: "Gabriela", 'Times New Roman', Times, serif;
    background-image:linear-gradient(to right, blue,red,green,yellow) ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h2 {
    font-family: "Gabriela", 'Times New Roman', Times, serif;
    background-image:linear-gradient(to right, blue,red,green,yellow) ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h3 {
    font-family: "Gabriela", 'Times New Roman', Times, serif;
    text-align: center;
    border-bottom: 1px black solid;
}

div {
    margin-top: 10px;
    margin-left: 15px;
}

p {
    margin-left: 15px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

figure {
    height: fit-content;
    border: 2px black solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

img {
    display: block;
    margin: 0 auto;
}

figcaption {
    height: fit-content;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 5px;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

label {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

iframe {
    margin-left: 30%;
    margin-right: 30%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 15px;
    padding: 10px;
}